<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>worldevents</title>
    <link rel="icon" href="../resources/images/logo/icon.ico">
    <!--Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-we navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button id="btnToggle" class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="#">
                    <img alt="Brand" src="../resources/images/logo/navbar-brand.PNG">
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="#sobre">SOBRE</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">EVENTOS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#conferencias">CONFERÊNCIAS</a></li>
                            <li><a href="#projetos">PROJETOS</a></li>
                            <li><a href="#reunioes">REUNIÕES</a></li>
                            <li><a href="#workshops">WORKSHOPS</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">FUNCIONALIDADES<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">CRIAR REGISTO</a></li>
                            <li><a href="#">CRIAR EVENTO</a></li>
                            <li><a href="#">INSCREVER EM EVENTO</a></li>
                        </ul>
                    </li>
                    <li><a href="#equipa">A NOSSA EQUIPA</a></li>
                    <li><a href="#contactos">CONTACTOS</a></li>
                    <li><a href="#areaReservada">ÁREA RESERVADA</a></li>
                    <!-- *******++++++++++++++++++++++++++******* -->
                    <!-- ******* |BANDEIRAS - LINGUAGENS| ******* -->
                    <!-- *******++++++++++++++++++++++++++******* -->
                    <!--<li class="dropdown">
                        <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle"><img id="lang" src="" alt="flag" width="30px" height="20px"><span class="caret"></span>
                            <ul class="dropdown-menu">
                                <div class="row">
                                        <li class="col-xs-1 col-xs-offset-1 col-lg-12">
                                        <a href="#"><img id="langPT" src="../resources/images/flags/pt.PNG" alt="flag" width="30px" height="20px"></a>
                                    </li>
                                    <li class="col-xs-1 col-xs-offset-1 col-lg-12">
                                        <a href="#"><img id="langUK" src="../resources/images/flags/uk.PNG" alt="flag" width="30px" height="20px"></a>
                                    </li>
                                    <li class="col-xs-1 col-xs-offset-1 col-lg-12">
                                        <a href="#"><img id="langCH" src="../resources/images/flags/ch.PNG" alt="flag" width="30px" height="20px"></a>
                                    </li>
                                    <li class="col-xs-1 col-xs-offset-1 col-lg-12">
                                        <a href="#"><img id="langFR" src="../resources/images/flags/fr.PNG" alt="flag" width="30px" height="20px"></a>
                                    </li>
                                    <li class="col-xs-1 col-xs-offset-1 col-lg-12">
                                        <a href="#"><img id="langDE" src="../resources/images/flags/de.PNG" alt="flag" width="30px" height="20px"></a>
                                    </li>
                                    <li class="col-xs-1 col-xs-offset-1 col-lg-12">
                                        <a href="#"><img id="langIT" src="../resources/images/flags/it.PNG" alt="flag" width="30px" height="20px"></a>
                                    </li>
                                    <li class="col-xs-1 col-xs-offset-1 col-lg-12">
                                        <a href="#"><img id="langRU" src="../resources/images/flags/ru.PNG" alt="flag" width="30px" height="20px"></a>
                                    </li>
                                    <li class="col-xs-1 col-xs-offset-1 col-lg-12">
                                        <a href="#"><img id="langES" src="../resources/images/flags/es.PNG" alt="flag" width="30px" height="20px"></a>
                                    </li>
                                    </div>
                            </ul>
                    </li>-->
                </ul>
            </div>
        </div>
    </nav>
    <!--Main-->
    <div id="main" class="container-fluid">
        <!--Secção Sobre-->
        <div id="sobre" class="row full-div">
            <!--<h1 class="text-center" >SOBRE</h1>-->
        </div>
        <!--Secção Eventos-->
        <div id="eventos" class="row full-div">
            <h1 class="text-center">Eventos</h1>
        </div>
        <!--Secção Conferências-->
        <div id="conferencias" class="row full-div">
            <h1 class="text-center">Conferências</h1>
            </br>
            
            <div class="row">
                <div class="col-md-4"><img class="center-block" src="../resources/images/conferences/conference1.PNG" alt=""></br>
                    <p class="text-center">1ª Conferência de Sistemas Interativos e Inteligentes</br>5 de abril de 2017</br>Vila do Conde, Portugal</p>
                    </br>
                </div>
                <div class="col-md-4"><img class="center-block" src="../resources/images/conferences/conference2.PNG" alt=""></br>
                    <p class="text-center">6ª Conferência - Cibersegurança</br>28 de novembro de 2016</br>Porto, Portugal</p>
                    </br>
                </div>
                <div class="col-md-4"><img class="center-block" src="../resources/images/conferences/conference1.PNG" alt=""></br>
                    <p class="text-center">1ª Conferência de Sistemas Interativos e Inteligentes</br>5 de abril de 2017</br>Vila do Conde, Portugal</p>
                    </br>
                </div>
            </div>
            <div id="row2" class="row collapse">
                <div class="col-md-4"><img class="center-block" src="../resources/images/conferences/conference1.PNG" alt=""></br>
                    <p class="text-center">1ª Conferência de Sistemas Interativos e Inteligentes</br>5 de abril de 2017</br>Vila do Conde, Portugal</p>
                    </br>
                </div>
                <div class="col-md-4"><img class="center-block" src="../resources/images/conferences/conference2.PNG" alt=""></br>
                    <p class="text-center">6ª Conferência - Cibersegurança</br>28 de novembro de 2016</br>Porto, Portugal</p>
                    </br>
                </div>
                <div class="col-md-4"><img class="center-block" src="../resources/images/conferences/conference1.PNG" alt=""></br>
                    <p class="text-center">1ª Conferência de Sistemas Interativos e Inteligentes</br>5 de abril de 2017</br>Vila do Conde, Portugal</p>
                    </br>
                </div>
            </div>
            <div id="row3" class="row collapse">
                <div class="col-md-4"><img class="center-block" src="../resources/images/conferences/conference1.PNG" alt=""></br>
                    <p class="text-center">1ª Conferência de Sistemas Interativos e Inteligentes</br>5 de abril de 2017</br>Vila do Conde, Portugal</p>
                    </br>
                </div>
                <div class="col-md-4"><img class="center-block" src="../resources/images/conferences/conference2.PNG" alt=""></br>
                    <p class="text-center">6ª Conferência - Cibersegurança</br>28 de novembro de 2016</br>Porto, Portugal</p>
                    </br>
                </div>
                <div class="col-md-4"><img class="center-block" src="../resources/images/conferences/conference1.PNG" alt=""></br>
                    <p class="text-center">1ª Conferência de Sistemas Interativos e Inteligentes</br>5 de abril de 2017</br>Vila do Conde, Portugal</p>
                    </br>
                </div>
            </div>
             <button type="button" class="btn btn-info center-block" data-toggle="collapse" data-target="#row2, #row3">Ver mais</button>


        </div>
        <!--Secção Projetos-->
        <div id="projetos" class="row full-div">
            <h1 class="text-center">Projetos</h1>
        </div>
        <!--Secção Reuniões-->
        <div id="reunioes" class="row full-div">
            <h1 class="text-center">Reuniões</h1>

        </div>
        <!--Secção Workshops-->
        <div id="workshops" class="row full-div">
            <h1 class="text-center">Workshops</h1>
        </div>
        <!--Secção Funcionalidades-->
        <div id="funcionalidades" class="row full-div">
            <h1 class="text-center">Funcionalidades</h1>
        </div>
        <!--Secção Equipa-->
        <div id="equipa" class="row full-div">
            <h1 class="text-center">Equipa</h1>
        </div>
        <!--Secção Contactos-->
        <div id="contactos" class="row full-div">
            <h1 class="text-center">Contactos</h1>
        </div>
        <!--Secção Área Reservada-->
        <div id="areaReservada" class="row full-div">
            <h1 class="text-center">Área Reservada</h1>
        </div>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--App-->
    <link rel="stylesheet" href="css/style.css">
    <script src="script/navbar.js"></script>
</body>

</html>