<!DOCTYPE html>
<html lang="pt">

<head>

    <!-- title -->
    <title>worldevents / home</title>
    <!-- manifest -->
    <link rel="manifest" href="assets/common/js/manifest.json">
    <!-- icon -->
    <link rel="icon" type="image/png" href="assets/common/img/logo/logo192.png" sizes="192x192">
    <!-- configs -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap css -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- fontawesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!-- app css -->
    <link rel="stylesheet" href="assets/common/css/config.css">
    <link rel="stylesheet" href="assets/common/css/fonts.css">
    <link rel="stylesheet" href="assets/common/css/navbar.css">
    <link rel="stylesheet" href="assets/common/css/index/config.css">
    <link rel="stylesheet" href="assets/common/css/index/content.css">
    <link rel="stylesheet" href="assets/common/css/index/translate.css">
</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-we navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button id="btnToggle" class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="assets/common/img/logo/navbar-brand.png">
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="#about">SOBRE</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">EVENTOS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#conferences">CONFERÊNCIAS</a></li>
                            <li><a href="#projects">PROJETOS</a></li>
                            <li><a href="#reunions">REUNIÕES</a></li>
                            <li><a href="#workshops">WORKSHOPS</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">FUNCIONALIDADES<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">CRIAR EVENTO</a></li>
                            <li><a href="#">GERIR EVENTO</a></li>
                            <li><a href="#">INSCREVER EM EVENTO</a></li>
                        </ul>
                    </li>
                    <li><a href="#team">A NOSSA EQUIPA</a></li>
                    <li><a href="#contact">CONTACTOS</a></li>
                    <li><a href="main.html">ÁREA RESERVADA</a></li>
                </ul>
            </div>
    </nav>
    <!-- content -->
    <div id="main" class="container-fluid">
        <!-- about section -->
        <div id="about" class="row full-div">
        </div>
        <!-- events section -->
        <div id="events" class="row full-div">
            <h1 class="text-center">Eventos</h1>
            </br>
            </br>
            <div class="row">
                <div class="col-md-3">
                    <a id="btnEvent" href="#conferences" class="btn center-block">
                        <img class="center-block" src="assets/common/img/main/conferences.jpg" alt="">
                        <h3 class="text-center">Conferências</h3>
                    </a>
                    </br>
                </div>
                <div class="col-md-3">
                    <a id="btnEvent" href="#projects" class="btn center-block">
                        <img class="center-block" src="assets/common/img/main/projects.jpg" alt="">
                        <h3 class="text-center">Projetos</h3>
                    </a>
                    </br>
                </div>
                <div class="col-md-3">
                    <a id="btnEvent" href="#reunions" class="btn center-block">
                        <img class="center-block" src="assets/common/img/main/reunions.jpg" alt="">
                        <h3 class="text-center">Reuniões</h3>
                    </a>
                    </br>
                </div>
                <div class="col-md-3">
                    <a id="btnEvent" href="#workshops" class="btn center-block">
                        <img class="center-block" src="assets/common/img/main/workshops.jpg" alt="">
                        <h3 class="text-center">Workshops</h3>
                    </a>
                    </br>
                </div>
            </div>
        </div>
        <!-- conferences section -->
        <div id="conferences" class="row full-div">
            <h1 class="text-center">Conferências</h1>
            </br>
            </br>
            <div id="confRow" class="row collapse" data-template-chosen="">
                <script id="mustacheConferences" type="text/template">
                    <div class="item">
                        {{#conferences}}
                        <div class="col-md-4"><img class="center-block" src="assets/common/img/conferences/conference1.png" alt=""></br>
                            <p class="text-center">{{nome_evento}}</br>{{data_desc}}</br>{{morada}}</br>{{cidade}}, {{pais}}</p>
                            </br>
                        </div>
                        {{/conferences}}
                    </div>
                </script>
            </div>
            <button id="btnConfViewMore" type="button" class="btn btn-link center-block" data-toggle="collapse" data-target="#confRow"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true" style="color: rgb(13, 182, 184);"></i></button></br>
            </br>
        </div>
        <!-- projects section -->
        <div id="projects" class="row full-div">
            <h1 class="text-center">Projetos</h1>
            </br>
            </br>
            <div id="projRow" class="row collapse" data-template-chosen="">
                <script id="mustacheProjects" type="text/template">
                    <div class="item">
                        {{#projects}}
                        <div class="col-md-4"><img class="center-block" src="assets/common/img/conferences/conference1.png" alt=""></br>
                            <p class="text-center">{{nome_evento}}</br>{{data_desc}}</br>{{morada}}</br>{{cidade}}, {{pais}}</p>
                            </br>
                        </div>
                        {{/projects}}
                    </div>
                </script>
            </div>
            <button id="btnProjViewMore" type="button" class="btn btn-link center-block" data-toggle="collapse" data-target="#projRow"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true" style="color: rgb(13, 182, 184);"></i></button></br>
            </br>
        </div>
        <!-- reunions section -->
        <div id="reunions" class="row full-div">
            <h1 class="text-center">Reuniões</h1>
            </br>
            </br>
            <div id="reunRow" class="row collapse" data-template-chosen="">
                <script id="mustacheReunions" type="text/template">
                    <div class="item">
                        {{#reunions}}
                        <div class="col-md-4"><img class="center-block" src="assets/common/img/conferences/conference1.png" alt=""></br>
                            <p class="text-center">{{nome_evento}}</br>{{data_desc}}</br>{{morada}}</br>{{cidade}}, {{pais}}</p>
                            </br>
                        </div>
                        {{/reunions}}
                    </div>
                </script>
            </div>
            <button id="btnReunViewMore" type="button" class="btn btn-link center-block" data-toggle="collapse" data-target="#reunRow"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true" style="color: rgb(13, 182, 184);"></i></button></br>
            </br>
        </div>
        <!-- workshops section -->
        <div id="workshops" class="row full-div">
            <h1 class="text-center">Workshops</h1>
            </br>
            </br>
            <div id="workRow" class="row collapse" data-template-chosen="">
                <script id="mustacheWorkshops" type="text/template">
                    <div class="item">
                        {{#workshops}}
                        <div class="col-md-4"><img class="center-block" src="assets/common/img/conferences/conference1.png" alt=""></br>
                            <p class="text-center">{{nome_evento}}</br>{{data_desc}}</br>{{morada}}</br>{{cidade}}, {{pais}}</p>
                            </br>
                        </div>
                        {{/workshops}}
                    </div>
                </script>
            </div>
            <button id="btnWorkViewMore" type="button" class="btn btn-link center-block" data-toggle="collapse" data-target="#workRow"><i class="fa fa-plus-square-o fa-2x" aria-hidden="true" style="color: rgb(13, 182, 184);"></i></button></br>
            </br>
        </div>
        <!-- features section -->
        <div id="features" class="row full-div">
            <h1 class="text-center">Funcionalidades</h1>
            </br>
            </br>
            <div class="row">
                <div class="col-md-4">
                    <a id="btnCreateEvent" href="#" class="btn center-block">
                        <img class="center-block" src="assets/common/img/main/createEvent.jpg" alt="">
                        <h3 class="text-center">Criar evento</h3>
                    </a>
                    </br>
                </div>
                <div class="col-md-4">
                    <a id="btnManageEvent" href="#" class="btn center-block">
                        <img class="center-block" src="assets/common/img/main/manageEvent.jpg" alt="">
                        <h3 class="text-center">Gerir evento</h3>
                    </a>
                    </br>
                </div>
                <div class="col-md-4">
                    <a id="btnSubscribeEvent" href="#" class="btn center-block">
                        <img class="center-block" src="assets/common/img/main/subscribeEvent.jpg" alt="">
                        <h3 class="text-center">Inscrever em evento</h3>
                    </a>
                    </br>
                </div>
            </div>
        </div>
        <!-- team section -->
        <div id="team" class="row full-div">
            <h1 class="text-center">A Nossa Equipa</h1>
            </br>
            </br>
            <div class="row">
                <div class="col-md-4">
                    <div id="andreGouveia" class="center-block">
                        <img class="center-block" src="assets/common/img/team/picAndre.png" alt="">
                        <h3 class="text-center">André Gouveia</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12 center-block text-center">
                            <a id="btnFacebook" href="https://www.facebook.com/andre.gouveia.526" target="_blank" class="btn btn-link" <span><i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="color: rgb(13, 182, 184);"></i></span>
                            </a>
                            <a id="btnLinkedin" href="https://www.linkedin.com/in/afcgouveia" target="_blank" class="btn btn-link" <span><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="color: rgb(13, 182, 184);"></i></span>
                            </a>
                            <a id="btnEmail" href="mailto:9150508@esmad.ipp.pt" class="btn btn-link"><span><i class="fa fa-envelope-o fa-2x" aria-hidden="true" style="color: rgb(13, 182, 184);"></i></span></a>
                        </div>
                    </div>
                    </br>
                </div>
                <div class="col-md-4">
                    <div id="joaoRafaelSantos" class="center-block">
                        <img class="center-block" src="assets/common/img/team/picJoao.png" alt="">
                        <h3 class="text-center">João Rafael Santos</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12 center-block text-center">
                            <a id="btnFacebook" href="https://www.facebook.com/joaosantosjrs" target="_blank" class="btn btn-link" <span><i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="color: rgb(13, 182, 184);"></i></span>
                            </a>
                            <a id="btnLinkedin" href="https://www.linkedin.com/in/joaorafaelsantos" target="_blank" class="btn btn-link" <span><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="color: rgb(13, 182, 184);"></i></span>
                            </a>
                            <a id="btnEmail" href="mailto:9150539@esmad.ipp.pt" class="btn btn-link"><span><i class="fa fa-envelope-o fa-2x" aria-hidden="true" style="color: rgb(13, 182, 184);"></i></span></a>
                        </div>
                    </div>
                    </br>
                </div>
                <div class="col-md-4">
                    <div id="franciscoMoreira" class="center-block">
                        <img class="center-block" src="assets/common/img/team/picFrancisco.png" alt="">
                        <h3 class="text-center">Francisco Moreira</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12 center-block text-center">
                            <a id="btnFacebook" href="https://www.facebook.com/francisco.moreira.965" target="_blank" class="btn btn-link" <span><i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="color: rgb(13, 182, 184);"></i></span>
                            </a>
                            <a id="btnLinkedin" href="https://www.linkedin.com/in/francisco-moreira-1584a5b3/" target="_blank" class="btn btn-link" <span><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="color: rgb(13, 182, 184);"></i></span>
                            </a>
                            <a id="btnEmail" href="mailto:9150529@esmad.ipp.pt" class="btn btn-link"><span><i class="fa fa-envelope-o fa-2x" aria-hidden="true" style="color: rgb(13, 182, 184);"></i></span></a>
                        </div>
                    </div>
                    </br>
                </div>
            </div>
        </div>
        <!-- contact section -->
        <div id="contact" class="row full-div">
            <h1 class="text-center">Contactos</h1>
            <div class="row">
                <div class="col-md-12">
                    <form id="form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-4">
                                <label for="">Nome*</label>
                                <input id="name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-4">
                                <label for="">Email*</label>
                                <input id="email" type="email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-4">
                                <label for="">Mensagem*</label>
                                <textarea id="comment" class="form-control vresize" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-4">
                                <button id="btnSendMessage" type="submit" class="btn btn-we">Enviar mensagem</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </br>
        </div>
        <!-- footer section -->
        <div id="footer" class="row full-div">
            </br>
            <!-- translate section -->
            <script type="text/javascript" src="assets/common/js/translate/translate.js"></script>
            <div id="google_translate_element2" style="display: none"></div>
            <div id="flags" class="text-center">
                <a href="#" onclick="doGTranslate('pt|en');return false;" title="English" class="flag nturl notranslate"><img src="assets/common/img/flags/uk.png" height="18" width="25" alt="en" /></a>
                <a href="#" onclick="doGTranslate('pt|zh-TW');return false;" title="Chinese (Traditional)" class="flag nturl notranslate"><img src="assets/common/img/flags/ch.png" height="18" width="25" alt="zh-TW" /></a>
                <a href="#" onclick="doGTranslate('pt|fr');return false;" title="French" class="flag nturl notranslate"><img src="assets/common/img/flags/fr.png" height="18" width="25" alt="fr" /></a>
                <a href="#" onclick="doGTranslate('pt|de');return false;" title="German" class="flag nturl notranslate"><img src="assets/common/img/flags/de.png" height="18" width="25" alt="de" /></a>
                <a href="#" onclick="doGTranslate('pt|it');return false;" title="Italian" class="flag nturl notranslate"><img src="assets/common/img/flags/it.png" height="18" width="25" alt="it" /></a>
                <a href="#" onclick="doGTranslate('en|pt');return false;" title="Portuguese" class="flag nturl notranslate"><img src="assets/common/img/flags/pt.png" height="18" width="25" alt="pt" /></a>
                <a href="#" onclick="doGTranslate('pt|ru');return false;" title="Russian" class="flag nturl notranslate"><img src="assets/common/img/flags/ru.png" height="18" width="25" alt="ru" /></a>
                <a href="#" onclick="doGTranslate('pt|es');return false;" title="Spanish" class="flag nturl notranslate"><img src="assets/common/img/flags/es.png" height="18" width="25" alt="es" /></a>
            </div>
            <!-- copyright message -->
            <h4 class="text-center">worldevents by JAF ©</h4>
        </div>
    </div>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- google translate -->
    <script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>
    <!-- mustache -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <!-- app js -->
    <script src="assets/common/js/config.js"></script>
    <script src="assets/common/js/index/index.js"></script>
    <script src="assets/common/js/index/content.js"></script>
</body>

</html>