<!DOCTYPE html>
<html lang="pt">

<head>

    <!-- title -->
    <title class="notranslate">worldevents / portal</title>
    <!-- manifest -->
    <link rel="manifest" href="assets/common/js/manifest.json">
    <!-- icon -->
    <link rel="icon" type="image/png" href="assets/common/img/logo/logo192.png" sizes="192x192">
    <!-- configs -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap css -->
    <link href="assets/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- fontawesome -->
    <link href="assets/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- bootstrap-datetimepicker css -->
    <link rel="stylesheet" href="assets/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
    <!--app css-->
    <link rel="stylesheet" href="assets/common/css/config.css">
    <link rel="stylesheet" href="assets/common/css/fonts.css">
    <link rel="stylesheet" href="assets/common/css/navbar.css">
    <link rel="stylesheet" href="assets/common/css/translate.css">
    <link rel="stylesheet" href="assets/common/css/main/config.css">
    <link rel="stylesheet" href="assets/common/css/main/sidebar.css">
    <link rel="stylesheet" href="assets/common/css/main/panel.css">
    <link rel="stylesheet" href="assets/common/css/main/homePanel.css">
    <link rel="stylesheet" href="assets/common/css/main/contentConfig.css">
    <link rel="stylesheet" href="assets/common/css/main/begin.css">
    <link rel="stylesheet" href="assets/common/css/main/myEvents.css">
    <link rel="stylesheet" href="assets/common/css/main/createEvent.css">

</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-we navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button id="btnToggle" class="navbar-toggle collapsed pull-left" type="button" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <div class="navbar-brand navbar-right">
                    <a class="" href="#">
                        <img class="" alt="Brand" src="assets/common/img/logo/logo.svg">
                    </a>
                </div>
            </div>
    </nav>
    <!-- sidebar -->
    <div id="mySidenav" class="sidenav">
        <!-- profile -->
        <a id="btnProfile" class="text-center" href="#"><span><img id="profilePic" class="img-circle" src="assets/common/img/team/picJoaoProfile.png" alt=""> </span>João Santos</a>
        <!-- begin -->
        <a id="btnBegin" class="active" href="#">Início</a>
        <!-- my events -->
        <a id="btnMyEvents" href="#">Os meus eventos</a>
        <!-- create event -->
        <a id="btnCreateEvent" href="#">Criar evento</a>
        <!-- subscribed events -->
        <a id="btnSubscribedEvents" href="#">Eventos inscritos</a>
        <!-- subscribe event -->
        <a id="btnSubscribeEvent" href="#">Inscrever em evento</a>
    </div>
    <!-- content -->
    <div id="main" class="row container-fluid">
        <!-- translate section -->
        <script type="text/javascript" src="assets/common/js/translate/translate.js"></script>
        <div id="google_translate_element2" style="display: none"></div>
        <div id="flags" class="row text-center">
            <a id="en" href="#" onclick="doGTranslate('pt|en');return false;" title="English" class="flag nturl notranslate">EN</a>
            <a id="CH" href="#" onclick="doGTranslate('pt|zh-TW');return false;" title="Chinese (Traditional)" class="flag nturl notranslate">CH</a>
            <a id="fr" href="#" onclick="doGTranslate('pt|fr');return false;" title="French" class="flag nturl notranslate">FR</a>
            <a id="de" href="#" onclick="doGTranslate('pt|de');return false;" title="German" class="flag nturl notranslate">DE</a>
            <a id="it" href="#" onclick="doGTranslate('pt|it');return false;" title="Italian" class="flag nturl notranslate">IT</a>
            <a id="pt" href="#" onclick="doGTranslate('en|pt');return false;" title="Portuguese" class="flag nturl notranslate">PT</a>
            <a id="ru" href="#" onclick="doGTranslate('pt|ru');return false;" title="Russian" class="flag nturl notranslate">RU</a>
            <a id="es" href="#" onclick="doGTranslate('pt|es');return false;" title="Spanish" class="flag nturl notranslate">ES</a>
        </div>
        <div id="clock" class="row">
            <p id="welcome">
                <span></span>
                <span class='notranslate'></span>
            </p>
            <p id="date">
                <span class='notranslate'></span>
            </p>
        </div>
        <div id="content">
        </div>
    </div>
    <!-- jquery -->
    <script src="assets/libs/jquery/3.2.1/js/jquery-3.2.1.js"></script>
    <!-- bootstrap js -->
    <script src="assets/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- google translate -->
    <script type="text/javascript" src="assets/libs/translate-google/element.js?cb=googleTranslateElementInit2"></script>
    <!-- mustache -->
    <script src="assets/libs/mustache.js/2.3.0/js/mustache.min.js"></script>
    <!-- bootstrap-datetimepicker css -->
    <script src="assets/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <!-- app js -->
    <script src="assets/common/js/config.js"></script>
    <script src="assets/common/js/main/main.js"></script>
    <script src="assets/common/js/main/homePanel.js"></script>
    <script src="assets/common/js/main/content.js"></script>

</body>

</html>