<div class="container-fluid">
    <div id="logo" class="row">
        <div class="col-md-12 text-center">
            <img class="" alt="Brand" src="assets/common/img/logo/logo.svg" width="220px" height="70px">
        </div>
    </div>
    <div id="formRow" class="row">
        <div class="col-md-12">
            <form id="form" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-5">
                        <label for="">E-mail</label>
                        <input id="regEmail" type="email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-5">
                        <label for="">Palavra-passe</label>
                        <input id="regPassword" type="password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-5">
                        <label for="">Repita a palavra-passe</label>
                        <input id="regRepeatPassword" type="password" class="form-control">
                        <button id="btnCreate" type="submit" class="btn btn-we" style="width:100%;">Criar conta</button>
                        <a id="btnSessionRedir" href="#">
                            <h5>Já tem uma conta?</h5>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="assets/common/js/login/config.js"></script>