/*------------- worldevents -----------*/
/*-------------------------------------*/
/*--------- errors/config.css ---------*/

html,
body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-image: url("../../img/errors/error.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding-top: 150px;
    font-family: "PortoSans-Light";
    font-size: 800%;
    color: rgb(255, 255, 255);
}

h2 {
    font-family: "PortoSans-Light";
    font-size: 300%;
    color: rgb(255, 255, 255);
}

#btnBack {
    font-family: "PortoSans-Light";
    color: rgb(255, 255, 255);
    font-size: 175%;
    text-decoration: none;
}

#btnBack:hover {
    color: rgb(13, 182, 184);
}