<div id="subscribedEvents" class="row">
    <h2 class="title text-center">Eventos inscritos</h2>
    <div class="col-md-4">
        <a id="btnConferences" class="btn btnContent2 center-block">
            <h3 class="text-center">Inscrever em evento</h3>
        </a>
    </div>
    <div class="col-md-4">
        <a id="btnConferences" class="btn btnContent2 center-block">
            <h3 class="text-center">Evento F</h3>
            </br>
        </a>
    </div>
    <div class="col-md-4">
        <a id="btnConferences" class="btn btnContent2 center-block">
            <h3 class="text-center">Evento G</h3>
            </br>
        </a>
    </div>
</div>