/*------------- worldevents -----------*/
/*-------------------------------------*/
/*------- main/contentConfig.css ------*/

.btnContent,
.btnContent2 {
    width: 215px;
    background-color: rgb(13, 182, 184);
    color: white;
}

.btnContent2 {
    height: 150px;
}

.btnContent:hover,
.btnContent2:hover {
    background-color: rgba(13, 182, 184, 0.8);
    color:white;
}

.col-md-3,
.col-md-4 {
    padding-top: 20px;
    padding-bottom: 15px;
}

.col-md-3 a:last-child,
.col-md-4 a:last-child {
    padding-bottom: 20px;
}

.title {
    font-family: PortoSans-Regular;
    color: rgb(13, 182, 184);
    font-size: 300%;
}