/*------------- worldevents -----------*/
/*-------------------------------------*/
/*-------- main/createEvent.css -------*/

label {
    color: rgb(13, 182, 184);
    font-family: PortoSans-Light;
    font-size: 18px;
}
