/*------------- worldevents -----------*/
/*-------------------------------------*/
/*-------- main/homePanel.css ---------*/

#clock {
    background-color: rgb(245, 245, 245);
    color: rgb(13, 182, 184);
    border-bottom: thin solid rgba(189, 190, 192, 0.5);
    border-top: thin solid rgba(189, 190, 192, 0.5);
}

#welcome {
    padding-top: 15px;
    font-size: 100%;
    text-align: center;
}

#date {
    font-size: 100%;
    text-align: center;
    padding-bottom: 10px;
}