/*------------- worldevents -----------*/
/*-------------------------------------*/
/*---------- main/panel.css -----------*/


/* profile */

#profilePic {
    padding-right: 5px;
}

#btnProfile {
    font-size: 120%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(245, 245, 245);
    color: rgb(13, 182, 184);
}

#btnProfile:hover {
    opacity: 0.6;
}

#btnProfile:active {
    opacity: 1;
}

/* main functions */

#btnBegin,
#btnMyEvents,
#btnCreateEvent,
#btnSubscribedEvents,
#btnSubscribeEvent {
    color: rgb(13, 182, 184);
    font-size: 150%;
    text-align: center;
    padding-top: 5px;
    padding-top: 5px;
}

#btnBegin,
#btnCreateEvent,
#btnSubscribeEvent {
    background-color: rgba(255, 255, 255, 1);
}

#btnMyEvents,
#btnSubscribedEvents {
    background-color: rgb(245, 245, 245);
}

#btnBegin:hover,
#btnMyEvents:hover,
#btnCreateEvent:hover,
#btnSubscribedEvents:hover,
#btnSubscribeEvent:hover {
    opacity: 0.6;
}

#btnBegin.active,
#btnMyEvents.active,
#btnCreateEvent.active,
#btnSubscribedEvents.active,
#btnSubscribeEvent.active {
    background: rgb(13, 182, 184);
    color: white;
    opacity: 1;
}