/*------------- worldevents -----------*/
/*-------------------------------------*/
/*---------- main/sidebar.css ---------*/


/* toggle styles */


/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #fff;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 50px;
    /* Place content 60px from the top */
    transition: 0.2s;
    /* 0.2 second transition effect to slide in the sidenav */
    border-right: thin solid rgba(189, 190, 192, 0.5);
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(13, 182, 184);
    display: block;
    transition: 0.3s;
    border-bottom: thin solid rgba(189, 190, 192, 0.5);
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    color: white;
    background: rgb(13, 182, 184);
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content */

#main {
    transition: margin-left .5s;
    padding: 0px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 50px;
    }
    .sidenav a {
        font-size: 18px;
    }
    #main {
        padding-left: 0px;
    }
}


/* Adjust responsive */

@media (max-width: 1366px) {
    #mySidenav {
        width: 0px;
    }
    #main {
        padding-left: 20px;
        opacity: 1;
    }
}

@media (min-width: 1367px) {
    #mySidenav {
        width: 300px;
    }
    #main {
        padding-left: 315px;
        opacity: 1;
    }
}
