<div id="eventsPanel" class="row">
    <div class="col-md-3">
        <a id="btnConferences" class="btn btnContent center-block">
            <h3 class="text-center">Conferências</h3>
            <h3 class="text-center">10</h3>
        </a>
    </div>
    <div class="col-md-3">
        <a id="btnProjects" class="btn btnContent center-block">
            <h3 class="text-center">Projetos</h3>
            <h3 class="text-center">3</h3>
        </a>
    </div>
    <div class="col-md-3">
        <a id="btnReunions" class="btn btnContent center-block">
            <h3 class="text-center">Reuniões</h3>
            <h3 class="text-center">1</h3>
        </a>
    </div>
    <div class="col-md-3">
        <a id="btnWorkshops" class="btn btnContent center-block">
            <h3 class="text-center">Workshops</h3>
            <h3 class="text-center">0</h3>
        </a>
    </div>
</div>
<div id="recentEvents" class="row">
    <div class="col-md-6">
        <h3 class="text-center">Eventos recentes</h3>
        <h3 class="text-center">0</h3>
    </div>
    <div class="col-md-6">
        <h3 class="text-center">Eventos próximos</h3>
        <h3 class="text-center">0</h3>
    </div>
</div>
<div id="lastSituations" class="row">
    <div class="col-md-12">
        <h3 class="text-center">Últimos acontecimentos</h3>
        <h3 class="text-center">0</h3>
    </div>
</div>