<div id="myEvents" class="row">
    <h2 class="title text-center">Os meus eventos</h2>
    <div class="col-md-4">
        <a id="btnConferences" class="btn btnContent2 center-block">
            <h3 class="text-center">Adicionar evento</h3>
        </a>
    </div>
    <div class="col-md-4">
        <a id="btnConferences" class="btn btnContent2 center-block">
            <h3 class="text-center">Evento A</h3>
            </br>
        </a>
    </div>
    <div class="col-md-4">
        <a id="btnConferences" class="btn btnContent2 center-block">
            <h3 class="text-center">Evento B</h3>
            </br>
        </a>
    </div>
    <div class="col-md-4">
        <a id="btnConferences" class="btn btnContent2 center-block">
            <h3 class="text-center">Evento C</h3>
        </a>
    </div>
    <div class="col-md-4">
        <a id="btnConferences" class="btn btnContent2 center-block">
            <h3 class="text-center">Evento D</h3>
            </br>
        </a>
    </div>
    <div class="col-md-4">
        <a id="btnConferences" class="btn btnContent2 center-block">
            <h3 class="text-center">Evento E</h3>
            </br>
        </a>
    </div>
</div>