/*Fonts*/

@font-face {
    font-family: PortoSans-Regular;
    src: url('../fonts/PortoSans-Regular.otf');
}

@font-face {
    font-family: PortoSans-Light;
    src: url('../fonts/PortoSans-Light.otf');
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: PortoSans-Regular;
    min-height: 2000px;
    /*padding-top: 70px;*/
}


/*Navbar Bootstrap Override*/


/* navbar */

.navbar-we {
    background-color: white;
    border-color: transparent;
    font-family: PortoSans-Regular;
    font-size: 150%;
    border-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(189, 190, 192) !important;
}


/* link */

.navbar-we .navbar-nav>li>a {
    color: rgb(189, 190, 192);
}

.navbar-we .navbar-nav>li>a:hover,
.navbar-we .navbar-nav>li>a:focus {
    color: rgb(160, 160, 160);
    background-color: transparent;
}

.navbar-we .navbar-nav>.active>a,
.navbar-we .navbar-nav>.active>a:hover,
.navbar-we .navbar-nav>.active>a:focus {
    color: white;
    background-color: rgb(13, 182, 184);
    height: 100%;
}

.navbar-we .navbar-nav>.open>a,
.navbar-we .navbar-nav>.open>a:hover,
.navbar-we .navbar-nav>.open>a:focus {
    color: rgb(130, 130, 130);
    background-color: transparent;
}


/* caret */

.navbar-we .navbar-nav>.dropdown>a .caret {
    border-top-color: rgb(160, 160, 160);
    border-bottom-color: rgb(160, 160, 160);
}

.navbar-we .navbar-nav>.dropdown>a:hover .caret,
.navbar-we .navbar-nav>.dropdown>a:focus .caret {
    border-top-color: rgb(130, 130, 130);
    border-bottom-color: rgb(130, 130, 130);
}

.navbar-we .navbar-nav>.open>a .caret,
.navbar-we .navbar-nav>.open>a:hover .caret,
.navbar-we .navbar-nav>.open>a:focus .caret {
    border-top-color: rgb(130, 130, 130);
    border-bottom-color: rgb(130, 130, 130);
}

.navbar-we .navbar-nav>.dropdown>.dropdown-menu li>a {
    color: rgb(189, 190, 192);
    background-color: transparent;
}

.navbar-we .navbar-nav>.dropdown>.dropdown-menu li>a:hover,
.dropdown-menu li>a:focus,
.dropdown-submenu:hover>a {
    color: rgb(160, 160, 160);
    background-color: transparent;
}


/* mobile version */

.navbar-we .navbar-toggle {
    border-color: rgb(13, 182, 184);
}

.navbar-we .navbar-toggle:hover,
.navbar-we .navbar-toggle:focus {
    background-color: white;
}

.navbar-we .navbar-toggle .icon-bar {
    background-color: rgb(13, 182, 184);
}

@media (max-width: 1366px) {
    .navbar-we .navbar-nav .open .dropdown-menu>li>a {
        color: rgb(189, 190, 192);
    }
    .navbar-we .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-we .navbar-nav .open .dropdown-menu>li>a:focus {
        color: rgb(160, 160, 160);
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar-collapse.in {
        overflow-y: auto !important;
    }
}

@media (min-width: 1367px) {
    .navbar-brand img {
        padding-left: 50%;
    }
}

.navbar .navbar-brand {
    padding-top: 0px;
}


/*Transforma uma div a tamanho inteiro, preenchendo o ecrã*/

.full-div {
    /*height: 100vh;*/
    width: 100vw;
}


/*Secções*/

#sobre {
    background: url("../../resources/images/main/theme.JPG") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*width: 100%;*/
    height: 0;
    padding-top: 66.74%;
}

#main h1  {
    font-family: PortoSans-Regular;
    color: rgb(13, 182, 184);
    font-size: 300%;
    padding-top: 70px;
}

#eventos {
    background-color: rgb(245, 245, 245);
}

#conferencias {
    background-color: rgb(255, 255, 255);
}

#projetos {
    background-color: rgb(245, 245, 245);
}

#reunioes {
    background-color: rgb(255, 255, 255);
}

#workshops {
    background-color: rgb(245, 245, 245);
}

#funcionalidades {
    background-color: rgb(255, 255, 255);
}

#equipa {
    background-color: rgb(245, 245, 245);
}

#contactos {
    background-color: rgb(255, 255, 255);
}

#areaReservada {
    background-color: rgb(245, 245, 245);
}