<!DOCTYPE html>
<html lang="en">

<head>

    <!-- title -->
    <title class="notranslate">worldevents / 401</title>
    <!-- icon -->
    <link rel="icon" type="image/png" href="../../assets/common/img/logo/logo192.png" sizes="192x192">
    <!-- configs -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap css -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- fontawesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <!--app css-->
    <link rel="stylesheet" href="../../assets/common/css/fonts.css">
    <link rel="stylesheet" href="../../assets/common/css/errors/config.css">

</head>

<body>

    <h1 class="text-center">401</h1>
    <h2 class="text-center">UNAUTHORIZED</h2>
    <div class="text-center">
        <a id="btnBack" href="#" class="btn btn-link btn-lg"><span><i class="fa fa-angle-left" aria-hidden="true"></i></span> back</a>
    </div>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


</body>

</html>