/*------------- worldevents -----------*/
/*-------------------------------------*/
/*--------- index/content.css ---------*/

/* sections */

#about {
    padding-top: 105px;
    padding-bottom: 60px;
}

#pitch {
    width: 50%;
    height: 50%;
}

@media (max-width: 1366px) {
    #pitch {
        width: 90%;
        height: 90%;
    }
}

#btnEvent {
    padding-bottom: 30px;
}

#btnEvent:hover {
    opacity: 0.8;
}

#btnConfViewMore,
#btnProjViewMore,
#btnReunViewMore,
#btnWorkViewMore {
    padding-bottom: 30px;
}

#events,
#projects,
#workshops,
#api,
#contact {
    background-color: rgb(245, 245, 245);
    border-bottom: thin solid rgba(189, 190, 192, 0.5);
}

#conferences,
#reunions,
#features,
#team {
    background-color: rgb(255, 255, 255);
    border-bottom: thin solid rgba(189, 190, 192, 0.5);
}

#btnCreateEvent,
#btnManageEvent,
#btnSubscribeEvent {
    padding-bottom: 30px;
}

#btnCreateEvent:hover,
#btnManageEvent:hover,
#btnSubscribeEvent:hover {
    opacity: 0.8;
}

#btnApi {
    padding-bottom: 30px;
}

#btnApi:hover {
    opacity: 0.8;
}

#andreGouveia:hover,
#joaoRafaelSantos:hover,
#franciscoMoreira:hover,
#btnFacebook:hover,
#btnLinkedin:hover,
#btnEmail:hover {
    opacity: 0.8;
}


/* the textarea only expands vertically */

.vresize {
    resize: vertical;
}


/* change form elements blue color */

.form-control:focus {
    border-color: rgb(13, 182, 184);
    box-shadow: none;
    -webkit-box-shadow: none;
}

#form input:focus::-webkit-input-placeholder {
    color: rgb(13, 182, 184);
}

#form textarea:focus::-webkit-input-placeholder {
    color: rgb(13, 182, 184);
}


/* footer */

#footer {
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
}