/*------------- worldevents -----------*/
/*-------------------------------------*/
/*---------- login/config.css ---------*/

body {
    background-color: rgb(255, 255, 255);
}

#logo {
    padding-top: 10px;
    background-color: rgb(245, 245, 245);
    border-bottom: thin solid rgba(189, 190, 192, 0.5);
}

.container-fluid {
    padding: 0px;
}

#formRow {
    padding-top: 40px;
    padding-bottom: 40px;
}

label {
    color: rgb(13, 182, 184);
    font-family: PortoSans-Light;
    font-size: 18px;
}

#formRow a {
    text-decoration: none;
}

h5 {
    font-family: PortoSans-Light;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

h5:hover {
    opacity: 0.8;
}

hr {
    width: 80%;
    padding-bottom: 10px;
}
